:root {
  --primary: #45cd47;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Archivo" !important;
}

.header {
  background: #000;
  height: auto;
  position: relative;
}

.greendots {
  position: absolute;
  bottom: 0;
  right: 0;
}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-body-content {
  height: auto;
}
.header-content {
  padding: 55px 0;
}
.dedicated-padding {
  padding-left: 125px;
  padding-right: 125px;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-links {
  display: flex;
  justify-content: end;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  margin: 0 9px;
  padding: 0 15px;
  font-weight: 300;
}

.nav button {
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 6px 20px;
  color: white;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.nav button img {
  width: 10px;
  height: 14px;
}

.header-body-content {
  margin-top: 120px;
  color: white;
}

.header-main-text {
  font-size: 90px;
  color: white;
  font-weight: 800;
}
.primary-text {
  color: var(--primary);
}

.primary-button {
  background: rgb(9, 123, 12);
  background: linear-gradient(
    90deg,
    rgba(9, 123, 12, 1) 0%,
    rgba(69, 205, 71, 1) 100%
  );
  color: black;
  padding: 11px 10px;
  padding-left: 35px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 45px;
  margin-bottom: 20px;
  width: max-content;
}
.primary-button span {
  background: #000;
  color: white;
  padding: 2px 8px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.investButton {
  text-align: left;
  margin-bottom: 0;
  width: 230px;
  justify-content: space-between;
}

.outline-button {
  color: black;
  padding: 11px 10px;
  padding-left: 35px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 22px;
  margin-bottom: 20px;
  width: max-content;
  background-color: transparent;
  border: 1px solid #45cd47;
}

.outline-button span {
  background: #000;
  color: white;
  padding: 2px 8px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.header-para {
  width: 50%;
}

.player-img {
  width: 100%;
  margin-top: -90px;
  margin-left: -30%;
}

.sponsors {
  background: white !important;
}

.sponsors img {
  width: 100%;
}

.player-info {
  padding-top: 70px;
  margin-bottom: 70px;
  height: 100vh;
  
}

.new-badge {
  border: 1px solid;
  width: max-content;
  padding: 6px 35px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.player-name {
  font-weight: 600;
  margin-top: 10px;
}

.primary-line {
  background: var(--primary);
  height: 2px !important;
}

.stats {
  padding: 18px 0;
}
.stat-heading {
  font-size: 20px;
  font-weight: 600;
}
.stat-score {
  font-size: 60px;
  font-weight: 800;
}

.carrier-info-titles {
  font-size: 20px;
}
.carrier-info-ans {
  font-size: 20px;
  font-weight: 600;
}

.player-info-img {
  width: 50%;
}

.year{
    font-size: 22px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .dedicated-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .player-img {
    width: 100%;
    margin: auto;
  }
  .greendots {
    width: 100%;
  }

  .line {
    width: 100%;
  }
  .header-para {
    width: 100%;
  }
  .header-main-text {
    font-size: 50px;
  }
  .player-img {
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .stat {
    margin: 2% 0;
  }
  .stat-heading {
    font-size: 17px;
  }

  .stat-score {
    font-size: 35px;
  }

  .carrier-info-ans {
    font-size: 17px;
  }

  .player-info{
    margin-top: 2%;
  }
.player-info-img {
    width: 80%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
  .dedicated-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .player-img {
    width: 100%;
    margin: auto;
  }
}
